

.mainHeading {
    text-align: center;
}

.headers {
    color: crimson;
    text-decoration-line: underline;
}

body {
    background-color: lightslategrey;
    font-family: 'Indie Flower', cursive;

}